.button {
  font-weight: 700;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  line-height: 1;
}
.buttonPrimary {
  color: rgb(114, 111, 111);
  background-color: transparent;
  border: 20;
  border-color: black;
}
.buttonSecondary {
  color: rgb(161, 155, 155);
  border: 0;
}
.buttonDark {
  color:  rgba(194, 190, 190, 0.904);
  background-color: rgba(156, 154, 154, 0.904);
  border-color: rgba(109, 106, 106, 0.904);
}
.buttonSmall {
  font-size: 12px;
  padding: 10px 16px;
}
.buttonLarge {
  font-size: 16px;
  padding: 12px 24px;
}
