
.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-color: #a0c1b8;
}


.title {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  
  font-size: xx-large;
  text-align: center;
  color: #59405c; /* #776d8a; */
  padding-left: 250px;
}