
.img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  margin-top: 32px;
  border: 1px solid var(--darker);
  border-radius: 4px;
}

.card {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.25);
  border: 10%;
  margin: 5%;
  width: calc(150px + 64px);
  text-align: center;
  background-color: white;
  border-radius: 8px;
  transition: box-shadow 200ms;
}

.cardDark{
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--dark);
}

.card:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.4);
}

.cardDark:hover {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.4);
}

.button {
  color: var(--lighter) !important;
  border-color: var(--lighter) !important;
  margin: 16px !important;
  margin-bottom: 32px !important;
  font-weight: bold !important;
  font-size: x-large !important;
}


.title {
  font-size: x-large;
}

.titleDark {
  color: white;
}

.price {
  text-align: center;
  font-size: xx-large;
}

.priceDark {
  color: white;
}

.icon{
  color: white;
}