.title {
    font-family:OCR A Std;
    color: black;
    text-shadow: cadetblue 2px 2px;
    width: 100%;
    height: 30px;
    margin: 15px 5px 15px 15px;
    text-align: center;
    font-size: xx-large;
  }

  .img {
    width: 350px;
    height: 380px;
  }

  .container {
    padding-left: 100px;
    padding-top: 100px;
  }

  .description {
      font-style: italic;
      color: cadetblue;
      float: right;
      width: 450px ;
      height: 100px;
  }

  .price {
      float: right;
      width: 100px;
      height: 100px;
      padding-top: 100px;
      padding-left: 30px;
      text-align: center;
  }