.storybook-button {
  font-weight: 700;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: rgb(114, 111, 111);
  background-color: transparent;
  border: 20;
  border-color: black;
}
.storybook-button--secondary {
  color: rgb(161, 155, 155);
  background-color: transparent;
  border: 0;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
