.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img {
  width: 70%;
  height: 70%;
  padding-top: 20%;
  background-size: contain;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 10%;
  margin: 5%;
  text-align: center;
  /*font-family: arial;*/
  width: 30%;
  height: 20%;
}

.buttons{
  margin-right: 10px;
  margin-left: 60px;
  margin-bottom: auto;
  padding-bottom: 10%;
  height: 80%;
  width: 80%;
}

.title {
  color: dimgray;
  width: 50%;
  height: 50%;
  margin: 5%;
  padding: 20%;
  font-size: large;
}

.price {
  text-align: center;
  padding-bottom: 70px;
  font-size: xx-large;
}