.root {
  background-color: var(--light);
  display: flex;
  justify-content: center;
}

.formContainer {
  height: 100%;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}

.card {
  width: 80%;
  max-width: 1170px;
  padding: 24px;
  margin-top: 32px;
}

.form {
  display: grid;
  font-size: 15pt;
  width: 100%;
  align-items: center;
  height: 40%;
}

.title {
  text-align: center;
}

.label {
  display: inherit;
}

.input {
  margin-bottom: 20px;
  height: 60%;
}

.button {
  width: 10%;
  justify-self: center;
}
